.banner {
  background-size: cover;
  background-position: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner h2 {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000000;
}

#banner-typed-text {
  color: #ffffff;
  text-shadow: 1px 1px 1px $gray;
  font-size: 33px;
  font-weight: bold;
  height: 30px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}



.d-fex {
  display: flex;
  position: relative;
}

.avatar-extra-large {
  position: absolute;
  right: 80px;
  top: 210px;
}

.avatar-xl-btn {
  font-weight: 400;
  background-color: rgba(242, 242, 242, 0.6);
  position: absolute;
  right: 98px;
  top: 410px;
}


.banner-name{
  position: absolute;
  left: 50px;
  top: 250px;
}

.banner-p {
  position: absolute;
  left: 50px;
  top: 300px;
  // width: 50%;
}

// Smallest device
@media (min-width: 100px) and (max-width: 530px) {
  .banner-p {
    padding-top: 30px;
    left: 6%;
  }
}

@media (min-width: 100px) and (max-width: 530px) {
  .banner-name {
    left: 6%;
    top: 39%;
  }
}

.banner-p-short {
  position: absolute;
  left: 50px;
  top: 300px;
  width: 250px;
}

.banner-btn {
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  left: 50px;
  top: 400px;
}

.banner-btn:active {
  border-color: transparent;
}

#result {
  position: absolute;
  top: 670px;
}
