<div class="container my-5">
  <div class="row">
    <div class="col">
    </div>
    <div class="container">
      <h1>Create a New Plan</h1>
      <%= render 'form', plan: @plan %>
    </div>
  </div>
</div>